.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/*MEDIA QUERY*/
/*schermo < di 1024px e > di 419 px*/
@media screen and (max-width: 1024px){
  .row{
    width: 90%;
    margin: auto;
  }
  #lezioni .row>.left{
    width: 45%;
    margin-left: 3%;
    margin-right: 4%
  }
  #lezioni .row>.right{
    width: 45%;
    margin-right: 3%
  }
  #lezioni .right img{
    height: 170px;
  }

  #steps .row>.left{
    width: 45%;
    margin-left: 3%;
    margin-right: 4%
  }
  #steps .row>.central{
    width: 45%;
    margin-right: 3%
  }
  #steps .row>.right{
    float: none;
    display: inline-block;
    width: 100%;
    padding-top: 50px;
  }
  #steps.container.grey{
    background-color: orange;
  }
  #steps img{
    height: 170px;
  }

}
/*schermo < di 420px*/
@media screen and (max-width: 419px){
  .row{
    width: 100%;
    font-size: 20px;
  }
  .row h1{
    width: 80%;
    margin: auto;
  }
  #lezioni .row>.left,
  #lezioni .row>.right{
    float: none;
    width: 80%;
    margin: auto;
  }
  #lezioni .right img{
    height: 155px;
  }
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right{
    float: none;
    width: 80%;
    margin: auto;
  }
  #steps.container.grey{
    background-color: orange;
  }
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 80%;
    margin: auto;
  }
  #why.container.grey{
    background-color: yellow;
  }
}
